.user-list {
    list-style: none;
    padding: 0;
    max-width: 300px;
    margin: auto;
  }
  
  .user-list li {
    margin-bottom: 10px;
    background-color: rgb(221, 239, 255);
    padding: 10px;
    border-radius: 5px;
  }
  
  .user-list li button {
    background-color: #e74c3c;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
  }
  